*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

.container{
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;
    padding-bottom: 117px;
}
.site-logo {
    width: 146px;
    height: 52px;
    
}
.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.header-item{
    margin-right: 73px;
}

.header-item:nth-child(5) {
    margin-right: 0;
}

.header-item-link{
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    
    color: #373737;
}

.header-link {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    padding-top: 11px;
    padding-right: 32px;
    padding-bottom: 11px;
    padding-left: 35px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #717CFF;
    border-radius: 11px;
    color: #505050;
}

.hero-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-section-h1 {
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #2F2F2F;
}
.hero-section-p {
    font-size: 22px;
    line-height: 38px;
    margin-top: 0;
    margin-right: 61px;
    margin-bottom: 42px;
    color: #7D7D7D;
}
.hero-section-link {
    display: flex;
    align-items: center;
    width: 262px;
    margin-bottom: 104px;
    background: #717cff;
    border-radius: 11px; 
}


.hero-section-link-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    margin-right: 34px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34px;
    color: #FFFFFF;
}
.hero-section-link-text::after{
    display: block;
    width: 26px;
    height: 26px;
    margin-left: 29px;
    background-image: url("../kartinki/learnmore.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    content: "";
}
.site-next {
    width: 30px;
    height: 30px;
}
.hero-section-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}


.hero-section-item:nth-child(2){
    margin-right: 20px;
    margin-left: 23px;
}

.hero-section-image {
    width: 470px;
    height: 565px;
}



.section-universitets {
    background-color: #fafafa;;
}
.section-universitets-h2 {
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 94px;
    padding-top: 55px;
    color: #373737;
    opacity: 0.73;
}
.section-universitets-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 104px;
    padding-left: 0;
    list-style: none;
}
.section-universitets-item {
    margin-right: 68px;
}

.section-universitets-item:nth-child(4){
    margin: 0;
}

.section-universitets-wrapper-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 107px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-bottom: 57px;
    padding-left: 0;
    list-style: none;
}
.section-universitets-wrapper-item {
    margin-right: 21px;
}

.section-universitets-wrapper-item:nth-child(4){
    margin-right: 0;
}

.section-universitets-wrapper-item:nth-child(1){
    width: 14px;
    height: 14px;
    background-color: #717CFF;
    border-radius: 50%;
}

.section-universitets-span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #7c7c7c51;
    border-radius: 50%;
}


.service-section-h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    color: #373737;
}
.service-section-p {
    width: 949px;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
    color: #7d7d7d;
}
.service-section-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 126px;
    padding-left: 0;
    list-style: none;
}
.service-section-item {
    width: 344px;
    margin-bottom: 56px;
    padding-top: 29px;
    padding-right: 17px;
    padding-bottom: 60px;
    padding-left: 31px;
    background: #ffffff;
    box-shadow: 0px 0px 77px #0000000f;
    border-radius: 15px;
}

.service-section-item::before{
    display: block;
    width: 76px;
    height: 76px;
    margin-bottom: 30px;
    background-image: url("../kartinki/CareerCounselling.svg");
    background-size: 76px 76px;
    background-repeat: no-repeat;
    content: "";
}
.universitet-item::before{
    display: block;
    width: 76px;
    height: 76px;
    margin-bottom: 30px;
    background-image: url("../kartinki/UniversityAdmissions.svg");
    background-size: 76px 76px;
    background-repeat: no-repeat;
    content: "";
}
.visa-item::before{
    display: block;
    width: 76px;
    height: 76px;
    margin-bottom: 30px;
    background-image: url("../kartinki/VisaConsultancy.svg");
    background-size: 76px 76px;
    background-repeat: no-repeat;
    content: "";
}
.accusantium-item::before{
    display: block;
    width: 76px;
    height: 76px;
    margin-bottom: 30px;
    background-image: url("../kartinki/Accommodation.svg");
    background-size: 76px 76px;
    background-repeat: no-repeat;
    content: "";
}
.Pre-Departure-item::before{
    display: block;
    width: 76px;
    height: 76px;
    margin-bottom: 30px;
    background-image: url("../kartinki/Pre-DepartureBriefing.svg");
    background-size: 76px 76px;
    background-repeat: no-repeat;
    content: "";
}

.service-section-item:nth-child(2){
    margin-right: 47px;
    margin-left: 47px;
}

.service-section-item:nth-child(4){
    margin-bottom: 0;
    margin-right: 47px;
}
.service-section-item:nth-child(5){
    margin-bottom: 0;
}

.service-section-item-image {
    margin-bottom: 30px;
}
.service-section-item-h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #37474f;
    margin-top: 0;
    margin-bottom: 9px;
}
.service-section-item-p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    margin-top: 0;
    color: #37474fb8;
}
.site-learn-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.site-learn-more-link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #717cff;
}
.site-learn-more-link::after{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../kartinki/learnmore.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-left: 20px;
    content: "";
}
.news-section{
    padding-top: 102px;
    padding-bottom: 124px;
    background-color: #fafafa;;
}

.new-section-h2{
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    color: #373737;
    
}

.new-section-p {
    width: 949px;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7d7d7d;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 119px;
    margin-left: auto;
}

.new-section-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 0;
    margin-bottom: 146px;
    padding-left: 0;
}
.new-section-item {
    width: 344px;
    background: #FFFFFF;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
}
.new-section-item-image {
    width: 344px;
    height: 224px;
    margin-bottom: 28px;
}
.new-section-item::before{
    display: block;
    width: 344px;
    height: 224px;
    margin-bottom: 28px;
    background-image: url("../kartinki/Rectangle.jpg");
    background-size: 344px 224px;
    background-repeat: no-repeat;
    content: "";
}
.new-section-item2::before{
    background-image: url("../kartinki/Rectangle2.jpg");
}
.new-section-item3::before{
    background-image: url("../kartinki/Rectangle3.jpg");
}
.new-section-span {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    padding-left: 26px;
}
.new-section-span::before{
    display: block;
    width: 21px;
    height: 21px;
    margin-right: 15px;
    background-image: url("../kartinki/kalendar.svg");
    background-size: 21px 21px;
    background-repeat: no-repeat;
    content: "";
}
.new-section-span-image {
    width: 14px;
    height: 14px;
    margin-right: 15px;
}

.new-section-span-p{
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #565656;
    margin-top: 0;
    margin-bottom: 0;
}

.new-section-item-h3 {
    width: 291px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 62px;
    padding-left: 26px;
    color: #252525;
}
.new-section-link-wrapper {
    width: 236px;
    height: 64px;
    margin-right: auto;
    margin-left: auto;
    background: #717CFF;
    border-radius: 11px;
}
.new-section-link {
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 40px;
    text-decoration: none;
    margin-right: 41px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34px;
    color: #ffffff;
}

.new-section-link::after{
    display: block;
    width: 28px;
    height: 26px;
    margin-left: 36px;
    background-image: url("../kartinki/learnmore.svg");
    background-size: 28px 26px;
    background-repeat: no-repeat;
    content: "";
}


.upcoming-section-h2 {
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    margin-top: 0;
    padding-top: 98px;
    margin-bottom: 25px;
    color: #373737;
}
.upcoming-section-p {
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 100px;
    color: #7d7d7d;
}
.upcoming-section-list {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 81px;
}
.upcoming-section-item {
    width: 540px;
    margin-right: 47px;
    background: #ffffff;
    box-shadow: 0px 0px 77px #0000000f;
    border-radius: 15px;
}
.upcoming-section-item-wrapper {
    display: flex;
    padding-top: 30px;
    padding-left: 31px;
}
.upcoming-section-item-wrapper::before{
    display: block;
    width: 76px;
    height: 76px;
    margin-right: 19px;
    margin-bottom: 29px;
    background-image: url("../kartinki/23dec.svg");
    background-size: 76px 76px;
    background-repeat: no-repeat;
    content: "";
}
.Federation-item-wrapper::before{
    display: block;
    width: 76px;
    height: 76px;
    margin-right: 19px;
    margin-bottom: 29px;
    background-image: url("../kartinki/17oct.svg");
    background-size: 76px 76px;
    background-repeat: no-repeat;
    content: "";
}
.upcoming-section-item-image {
    width: 76px;
    height: 76px;
    margin-right: 19px;
    margin-bottom: 29px;
}
.upcoming-section-item-h3 {
    width: 351px;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    margin: 0;
    color: #37474F;
}
.upcoming-section-item-p {
    width: 481px;
    padding-left: 27px;
    font-size: 16px;
    line-height: 28px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 26px;
    color: #37474fb8;
}
.upcoming-section-item-inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 31px;
}
.upcoming-section-learn-more{
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 31px;
}

.upcoming-section-wrapper-list{
    padding-bottom: 108px;
}

.site-learn-more-image {
    width: 20px;
    height: 20px;
}

.upcoming-section-wrapper-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-right: 28px;
    padding-left: 0;
}

.upcoming-section-item-wrapper-time {
    width: 20px;
    height: 20px;
}

.upcoming-section-wrapper-time::before{
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("../kartinki/clock.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    content: "";
}

.upcoming-section-item-wrapper-p {
    margin-top: 0;
    margin-bottom: 0;
}



.country-section {
    background-color: #fafafa;
}
.country-section-h2 {
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    margin-top: 0;
    padding-top: 82px;
    color: #373737;    
}
.country-section-p {
    width: 949px;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 77px;
    margin-left: auto;
    color: #7d7d7d;
}
.country-section-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 0;
    margin-bottom: 83px;
    padding-left: 0;
}
.country-section-item {
    margin-right: 46px;
}
.country-section-item::before{
    display: block;
    width: 346px;
    height: 215px;
    margin-bottom: 27px;
    background-image: url("../kartinki/Australia.jpg");
    background-size: 346px 215px;
    background-repeat: no-repeat;
    content: "";
}
.canada-item::before{
    background-image: url("../kartinki/Canada.jpg");
}
.uk-item::before{
    display: block;
    width: 346px;
    height: 215px;
    margin-bottom: 27px;
    background-image: url("../kartinki/uk.jpg");
    background-size: 346px 215px;
    background-repeat: no-repeat;
    content: "";
}

.country-section-item:nth-child(3){
    margin-right: 0;
}

.country-section-image {
    width: 348px;
    height: 215px;
    margin-bottom: 27px;
}
.country-section-item-h3 {
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    margin-top: 0;
    margin-bottom: 11px;
    color: #37474F;
}
.country-section-item-p {
    font-size: 16px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 0;
    color: #37474fb8;
    
}

.country-section-wrapper-list{
    padding-bottom: 136px;
    
}


.testimonial-section-h2 {
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
    padding-top: 115px;
    color: #373737;
}
.testimonial-section-p {
    width: 949px;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 142px;
    margin-left: auto;
    color: #7d7d7d;
    
}
.testimonial-section-list {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 84px;
    padding-left: 0;
}
.testimonial-section-item {
    width: 500px;
    padding-top: 39px;
    padding-right: 34px;
    padding-bottom: 46px;
    padding-left: 34px;
}

.testimonial-section-item:nth-child(2){
    margin-left: 61px;   
}

.testimonial-section-wrapper {
    display: flex;
    margin-bottom: 30px;
}
.testimonial-section-wrapper::before{
    display: block;
    width: 62px;
    height: 62px;
    margin-right: 26px;
    margin-bottom: 30px;
    background-image: url("../kartinki/people1.jpg");
    background-size: 62px 62px;
    background-repeat: no-repeat;
    content: "";
}

.people2-wrapper::before{
background-image: url("../kartinki/people2.jpg");
}
.testimonial-section-wrapper-image {
    width: 62px;
    height: 62px;
    margin-right: 28px;
}

.testimonial-section-span-h3 {
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 4px;
    color: #37474f;
}
.testimonial-section-span-p {
    font-size: 18px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 0;
    color: #37474F;
    opacity: 0.65;
}
.testimonial-section-item-p {
    font-size: 18px;
    line-height: 31px;
    margin-top: 0;
    margin-bottom: 0;
    color: #37474fb8; 
}

.testimonial-section-wrapper-list {
    padding-bottom: 98px;
}

article{
    background-color: #fafafa;
}

.site-article-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 82px;
    padding-bottom: 74px;
}
.site-article-inner-h2 {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    margin-top: 0;
    margin-bottom: 0;
    color: #252525;
}

.site-article-wrapper{
    width: 262px;
    height: 64px;
    margin-right: 0;
    margin-left: 0;
}


.site-article-inner-link{
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 40px;
    text-decoration: none;
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34px;
}

.site-article-inner-link::after{
    display: block;
    width: 28px;
    height: 26px;
    margin-left: 43px;
    background-image: url("../kartinki/learnmore.svg");
    background-size: 28px 26px;
    background-repeat: no-repeat;
    content: "";
}


footer{
    background-color: #717cff;;
}
.site-footer-list {
    display: flex;
    align-items: flex-end;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 64px;
    padding-bottom: 45px;
    padding-left: 0;
}
.site-footer-item {
    margin-right: 106px;
}

.site-footer-item:nth-child(1){
    width: 343px;
    margin-right: 130px;
}
.site-footer-item:nth-child(3){
    margin-right: 152px;
}
.site-footer-item:nth-child(4){
    margin-right: 0;
}


.site-footer-inner-logo {
    font-size: 37px;
    line-height: 43px;
    color: #ffffff;
}
.site-footer-inner-logo-p {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 28px;
    margin-left: 30px;
    color: #ffffff;
}
.site-footer-inner-p {
    font-size: 18px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 58px;
    color: #eeeeee;
}
.site-footer-inner-last-p {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;    
    margin-top: 0;
    margin-bottom: 0;
    color: #eeeeee;
}
.site-footer-item-link{
    text-decoration: none;   
}
.site-footer-item-p{
    font-size: 18px;
    line-height: 49px;
    margin-top: 0;
    color: #eeeeee; 
}

.site-footer-item-image{
    margin-right: 28px;
}

.site-footer-item-image:nth-child(3){
    margin-right: 0;
}